
:root{
    --color-primary: #ffff;
    --background-color: #060f38;
    --background-color-2: #26254f;
    --background-color-3: #1c1b3b;
    --font-secondary: 'Rubik';
    --font-third: 'Roboto';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    background-color: var(--background-color);
}

/* =========Container Principal ======== */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.player-container{
    display: flex;
    flex-direction:column ;
    justify-content: start;
    align-items: center;
    background-color: rgba(38, 37, 79, 0.9); /* 50% de transparencia */
    width: 25%;
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.info-player{
    display: flex;
    flex-direction: row;
}

/* ======Fotografia de Jugador======= */

.photo-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.photo-container img{
    width: 50%;
    border-radius: 2rem;
}

/* ==========Informacion Jugador======== */


.info-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.info-usuario h2{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.info-usuario p{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* =============Puntaje Usuario========== */

.puntaje-player {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
}

/* ================Dashoard============== */

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding: 2rem;
    background-image: url(../img/portada/portada-champions.png);
    color: var(--color-primary);
    font-family: var(--font-third);
}


/* =====Titulo DashBoard====== */

.titulo-dashboard{
    font-size: 1.2rem;
}


/* =========Nav DashBoard========== */

.nuestros-juegos-personajes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    cursor: pointer;
}

.nav-dashboard{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
    width: 100%;
}

.logout-icon{
    color: var(--color-primary);
    font-size: 1.5rem;
}




/* =============Seccion Nuestros Juegos Personajes============ */

.contenedor-juego-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.imagen-juego-personajes img{
    width: 100%;
}

.contenedor-juego-1 h3{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.contenedor-juego-1 p{
    width: 70%;
    margin-top: 0.2rem;
    padding: 0.5rem;
}

/* =============Carousel de Juegos================ */

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel .contenedor-juego-1 {
    flex: 0 0 auto;
    margin-right: 16px;
    scroll-snap-align: start;
    width: 100%;  /* Ajusta este valor según tus necesidades */
}