
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html,body{
    height: 100%;
}
body{
    background-color: var(--background-color);
    cursor: url('../img/recursos/balon-cursor.png'),auto;
}

/* =========Container Principal ======== */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.player-container{
    display: flex;
    flex-direction:column ;
    justify-content: start;
    align-items: center;
    background-color: rgba(38, 37, 79, 0.9); /* 50% de transparencia */
    width: 25%;
    padding: 1rem;
    

}

.info-player{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}

/* ======Fotografia de Jugador======= */

.photo-container{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.photo-container img{
    width: 100%;
}

/* ========Navigation Views=========== */

.navigation-views{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: var(--font-size-md);
    margin-top: var(--spacing-xs);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.navigation-views a {
    text-decoration: none;
    color: var(--color-primary);
    padding: var(--spacing-md);
    width: 100%;
    display: flex;
    position: relative; /* Necesario para el pseudo-elemento */
    overflow: hidden; /* Para que el pseudo-elemento no se salga del contenedor */
    transition: transform 0.3s ease-in-out; /* Transición para el skew */
}

.navigation-views a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-3); /* Fondo más oscuro */
    transition: left 0.3s ease-in-out; /* Transición para el sweep */
    z-index: -1; /* Colocar detrás del texto */
}

.navigation-views a:hover::before {
    left: 0; /* Mover el fondo oscuro hacia la izquierda */
}

.navigation-views a:hover {
    transform: skewX(10deg); /* Efecto de skew hacia adelante */
    color: var(--color-primary); /* Asegurar que el texto permanezca visible */
}

.navigation-views a:hover i {
    transform: scale(1.2); /* Hacer que el icono crezca */
    transition: transform 0.3s ease-in-out; /* Añadir transición para suavizar el crecimiento */
}

.navigation-views i {
    margin-right: var(--spacing-xl);
    transition: transform 0.3s ease-in-out; /* Añadir transición para suavizar el crecimiento */
}



/* ==========Informacion Jugador======== */


.info-usuario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.info-usuario h2{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.info-usuario p{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1rem;
    font-weight: 300;
}


/* =============Puntaje Usuario========== */

.puntaje-player {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
}

/* ==================Puntaje Individual Juego======== */

.puntaje-individual-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2vh;
    color: var(--color-primary);
}

.titulo-puntaje-juego-individual{
    font-weight: 600;
    font-family: var(--font-third);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo-puntaje-juego-individual p{
    width: 100%;
    font-weight: 400;
}

.contenedor-puntaje-juego{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
}

.contenedor-puntaje-juego img{
    width: 25%;
    height: auto;
}

.texto-puntaje{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 1rem;
}

.contenedor-puntaje-juego p{
    font-weight: 400;
    font-family: var(--font-third);
    font-size: 0.9rem;
    text-align: center;
}

.contenedor-puntaje-juego h2{
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
}


/* ================Dashoard============== */

.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 4rem;
    background-image: url(../img/portada/portada-champions.png);
    color: var(--color-primary);
    font-family: var(--font-third);
    padding-top: 0;
    padding-bottom: 0;
}


/* =====Titulo DashBoard====== */

.titulo-dashboard{
    font-size: 1.2rem;
    }


/* =========Nav DashBoard========== */

.nuestros-juegos-personajes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    cursor: pointer;
}

.nav-dashboard{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
    width: 100%;
}

.logout-icon{
    color: var(--color-primary);
    font-size: 1.5rem;
}




/* =============Seccion Nuestros Juegos Personajes============ */

.contenedor-juego-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.imagen-juego-personajes img{
    width: 100%;
}

.contenedor-juego-1 h3{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.contenedor-juego-1 p{
    width: 70%;
    margin-top: 0.2rem;
    padding: 0.5rem;
}


.black-juegos-personaje{
    color: red !important;
}


.black2-juegos-personaje{
    color: #0063c1 !important;
}
/* =============Carousel de Juegos================ */
.catalogo-juegos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    flex-direction: column;
    }


/* =====================Frase Premios==================== */

 .frase-premios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-third);
 }

 .titulo-premios{
    font-family: var(--font-third);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 2vh;    
    padding: 1rem;
    color: #fff;
}

/* =================Animacion Iframe============ */

.animacion-frame{
    background-color: #000!important;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacion-frame img{
    width: 10%;
}


/* ==============Seccion Premios========= */

.premios{
    background-color: #000;
}

.calificacion-estrellas{
    display: inline-block;
    color: yellow;
    margin-bottom: 1rem;
}

.seccion-juegos{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.contenedor-seccion-juegos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.contenedor-juego-explicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.imagen-juego-explicacion{
    width: 40%;

}

.imagen-juego-explicacion img{
    width: 100%;
}

.explicacion-texto{
    font-family: var(--font-third);
    padding: 2rem;
    width: 60%;
}

.temporada-game p{
    background-color: #26254f;
    border-radius: 1rem;
    width: auto;
    padding: 1rem;
    width: 40% !important;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;  
    text-decoration: none !important;
}
.explicacion-texto h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.explicacion-texto p{
    width: 90%;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff;
    margin-bottom: 1rem;

}

.mantenimiento-game p{
    width: 50% !important;
    cursor: none;
    text-decoration: none !important;    
}