

.dashboard-user-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.dashboard-user-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-md);
}
/* ==========Imagen Nueva Temporada========== */


.imagen-new-portada{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-new-portada img {
    width: 70%;
    height: auto;
    
}


/* =============Best-Players============ */

.contenedores-dashboards{
    background-color: rgba(6, 15, 56, 0.5); /* Fondo con el color #060f38 semi-transparente */
    border-radius: var(--spacing-md);
    backdrop-filter: blur(10px); /* Desenfoque para el efecto mate */
    height: 100%;
    margin-top: var(--spacing-md);
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
}

.best-players {
    width: 50%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
  
  
}

.best-players h2{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-md);
    white-space: pre;
}

.best-players i{
    color: green;
    margin-right: var(--spacing-md);
}

.contenedor-player{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: var(--spacing-md);
}



.contenedor-imagen-perfil{
    width: 10%;
    margin-right: var(--spacing-xl);
}

.contenedor-imagen-perfil img{
    width: 100%;
    height: auto;
    border-radius: var(--spacing-sm);
}

#nombre-jugador{
    margin-right: var(--spacing-xl);
    font-size: var(--font-size-lg);

}


/* ===============Dashboard-Total-Puntaje================= */
/* ==========Objetivo Mensual============ */
.dashboard-objetivo-mensual{
    width: 25%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dashboard-objetivo-mensual i{
    color: yellow;
}

.dashboard-objetivo-mensual h2{
    color: var(--color-primary);
    font-size: var(--font-size-lg);
}



.dashboard-total-puntaje p{
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    font-family: var(--font-third);
    margin-top: var(--spacing-md);
}

.container-numero-proceso{
    color: var(--color-primary);
    font-size: var(--font-size-xs);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--spacing-md);
}
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0; /* Cambia este valor dinámicamente con PHP o JavaScript */
    border-radius: 25px;
    text-align: center;
    line-height: 30px; /* Alinea el texto verticalmente */
    color: white;
}

/* 
=================Dashboard Top Games================ */

.dashboard-top-games{
    width: 75%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ================Top Games============ */

.contenedor-top-juegos{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.games-top{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.top-games-title{
    margin-bottom: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-games-title h2{
    text-align: left;
    width: 100%;
}

.top-games-title i{
    color: yellow;
    margin-right: var(--spacing-md);
}
.contenedor-juego-top{
    width: 20%;
}


.conteedor-juego-top div{
    width: 100%;
}

.contenedor-juego-top h2{
    font-size: var(--font-size-md);
    text-align: center;
    width: 100%;
    margin-bottom: var(--spacing-md);
}

.contenedor-juego-top p{
    text-align: center;
    margin-top: var(--spacing-md);
}

.imagen-juego-top{
    width: 100%;
}

.imagen-juego-top img{
    width: 100%;
    height: auto;
}


/* ===============Imagen-Personaje-Top================ */ 

 .personaje-top{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .imagen-personaje-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.imagen-personaje-top img{
    width: 50%;
    height: auto;
    margin-top: var(--spacing-md);
}

.personaje-top h2{
    font-size: var(--font-size-lg);
    margin-top: var(--spacing-md);
    font-family: var(--font-fourth);
}


/* ===========Top Partidas=========== */

.top-gameplays{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
}

.title-top-gameplays{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-top-gameplays h2{
    text-align: left;
    width: 100%;
    font-size: var(--font-size-lg);
}

.title-top-gameplays i{
    color: green;
    margin-right: var(--spacing-md);
}

/* =================Dashboard-Partidas================ */


.partidas{
    background-color: rgba(6, 15, 56, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-);
}

.partidas table{
    padding: var(--spacing-md);
    text-align: center;
}
.partidas table th{
    padding: var(--spacing-md);
}

.partidas table td{
    padding: var(--spacing-md);
}

@media only screen and (max-width: 600px){

    .dashboard-user-row{
        flex-direction: column;
    }

    .contenedores-dashboards{
        width: 100%;
    }

    .contenedor-top-juegos{
        flex-direction: column;
    }

    .games-top{
        width: 100%;
    }

    .personaje-top{
        width: 100%;
    }
}